<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BuildingSupplyMapper">
    <select id="selectAll" resultType="BuildingSupply">
        select id, city, station, building_id as buildingId, `time`, time_prefix as timePrefix, heat_supply as heatSupply
        from building_supply;
    </select>

    <select id="selectById" parameterType="java.lang.Integer" resultType="BuildingSupply">
        select id, city, station, building_id as buildingId, `time`, time_prefix as timePrefix, heat_supply as heatSupply
        from building_supply
        where id = #{id};
    </select>

    <select id="selectByBuildingIdAndDay" resultType="BuildingSupply">
        select id, city, station, building_id as buildingId, `time`, time_prefix as timePrefix, heat_supply as heatSupply
        from building_supply
        where building_id = #{buildingId} and TO_DAYS(`time`) = TO_DAYS(#{day,jdbcType=DATE});
    </select>

    <insert id="insertOneData" parameterType="BuildingSupply">
        insert into building_supply
            (city, station, building_id, time, time_prefix, heat_supply)
            value (#{city}, #{station}, #{buildingId}, #{time}, #{timePrefix}, #{heatSupply})
    </insert>
</mapper>